<div class="relative xl:w-4xl xl:block xl:mx-auto">
  <app-search-engine-selector
    [engines]="availableEngines()"
    [selectedEngine]="currentEngine()"
    (engineSelected)="onSelectEngine($event)"
  />

  <input
    aria-label="Search applications"
    class="bg-white/10 backdrop-blur-md border border-white/20 rounded-4xl xl:w-4xl xl:block xl:mx-auto px-12 py-3 mb-6 text-xl text-neutral-800 dark:text-white placeholder-black/50 dark:placeholder-white/50 focus:bg-white/15 focus:border-white/40 focus:outline-none focus:ring-2 focus:ring-white/20 w-full transition-all duration-300"
    type="search"
    (input)="onSearchInput($event)"
    (keyup.enter)="onSearchEnter()"
    [placeholder]="inputPlaceholder"
    [value]="searchQuery()"
  />

  @if (haveSearch()) {
    <ng-icon
      aria-label="Clear search"
      class="absolute z-10 top-3.5 right-11 text-2xl opacity-50 cursor-pointer hover:opacity-70 transition-opacity"
      name="heroXMark"
      tabindex="0"
      (click)="onHandleResetSearch()"
      (keydown.enter)="onHandleResetSearch()"
      (keydown.space)="onHandleResetSearch()"
    />

    <ng-icon
      aria-label="Search"
      class="absolute z-10 top-3.5 right-4 text-2xl opacity-50 cursor-pointer hover:opacity-70 transition-opacity"
      name="heroArrowRight"
      tabindex="0"
      (click)="onSearchEnter()"
      (keydown.enter)="onSearchEnter()"
      (keydown.space)="onSearchEnter()"
    />
  }
</div>
